apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-golang
spec:
  selector:
    matchLabels:
      app: my-golang
  replicas: 2
  template:
    metadata:
      labels:
        app: my-golang
    spec:
      containers:
        - name: my-golang
          image: registry.digitalocean.com/enigmacamp/simple-go:7
          envFrom:
            - configMapRef:
                name: golang-config
      imagePullSecrets:
        - name: regcred
